<nav class="ng-cloak ng-table-pager" ng-if="params.data.length" aria-label="{{params.accessibilityOptions('pagerTitle')}}">
    <div ng-if=" params.settings().counts.length " class="ng-table-counts btn-group pull-right count-section">
		<button ng-repeat="count in params.settings().counts" type="button " ng-class="{ 'active':params.count()==count} " ng-click="params.count(count) "
			class="btn btn-default ">
			<span ng-bind="count "></span>
		</button>
	</div>
	<ul ng-if="pages.length" class="pagination ng-table-pagination ">
		<!--
				The page that is the current page needs to have aria-current set to 'page'. If the page
				is not current, the aria-current attribute should not even be on the element.
			-->
		<li ng-class="{ 'disabled': !page.active && !page.current, 'active': page.current}"
			ng-repeat="page in pages" ng-switch="page.type">  		
			<button trigger-focus-on="{{ params.focusElement }}" id="page_prev" ng-switch-when="prev" ng-click="params.focusElement = 'page_prev'; params.page(page.number, $event)" aria-label="{{params.accessibilityOptions('prev')}}" aria-disabled="{{ !page.active && !page.current ? true : undefined }}" tabindex="{{ !page.active && !page.current ? -1 : undefined }}"><i class="fa fa-angle-left"></i></button>                
			<button trigger-focus-on="{{ params.focusElement }}" id="page_{{page.number}}" ng-attr-aria-current="{{page.current ? 'page' : undefined}}" ng-switch-when="first" ng-click="params.focusElement = ('page_' + page.number); params.page(page.number, $event)" aria-disabled="{{page.current ? true : undefined}}" tabindex="{{page.current ? -1 : undefined}}" aria-label="{{params.accessibilityOptions('pageNumPrefix')}} {{page.number}}">{{page.number}}</button>            
			<button trigger-focus-on="{{ params.focusElement }}" id="page_{{page.number}}" ng-attr-aria-current="{{page.current ? 'page' : undefined}}" ng-switch-when="page" ng-click="params.focusElement = ('page_' + page.number); params.page(page.number, $event)" aria-disabled="{{page.current ? true : undefined}}" tabindex="{{page.current ? -1 : undefined}}" aria-label="{{params.accessibilityOptions('pageNumPrefix')}} {{page.number}}">{{page.number}}</button>            
			<!-- <button trigger-focus-on="{{ params.focusElement }}" id="page_more" ng-switch-when="more" ng-click="params.focusElement = 'page_more'; params.page(page.number, $event)" aria-label="{{params.accessibilityOptions('more')}}"><i class="fa fa-ellipsis-h"></i></button>             -->
			<div id="page_more" ng-switch-when="more" aria-hidden="true">...</i></div>            
			<button trigger-focus-on="{{ params.focusElement }}" id="page_{{page.number}}" ng-attr-aria-current="{{page.current ? 'page' : undefined}}" ng-switch-when="last" ng-click="params.focusElement = ('page_' + page.number); params.page(page.number, $event)" aria-disabled="{{page.current ? true : undefined}}" tabindex="{{page.current ? -1 : undefined}}" aria-label="{{params.accessibilityOptions('pageNumPrefix')}} {{page.number}}">{{page.number}}</button>           
			<button trigger-focus-on="{{ params.focusElement }}" id="page_next" ng-switch-when="next" ng-click="params.focusElement = 'page_next'; params.page(page.number, $event); " aria-label="{{params.accessibilityOptions('next')}}" aria-disabled="{{ !page.active && !page.current ? true : undefined }}" tabindex="{{ !page.active && !page.current ? -1 : undefined }}"><i class="fa fa-angle-right"></i></button>   
		</li>
	</ul>
</nav>
<span class="sr-only" aria-live="assertive" aria-hidden="true">{{ params.currentPage != '' ? params.accessibilityOptions('pageNumPrefix') + ' ' + params.currentPage : '' }}</span>